*{
    font-family: HelveticaNeue, sans-serif;
}

html{
    background: #EAEAEA;
}

#summoner_name{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    text-shadow: 1px 1px 0px rgba(242, 128, 109, 0.5);
    margin-bottom: 33.5px;
}

#profile_page{
    width: 80%;
    /*width:960px;*/
    height: 600px;
    background-color: #EAEAEA;
    margin-top: 40px;
    padding-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    display: none;
    border-left: 1px ridge #bfbfbf;
    border-right: 1px ridge #bfbfbf;
}

#profile_dashboard{
    display: inline-flex;
    padding-bottom: 25px;
    border-bottom: 1px solid #bfbfbf;
}

#summoner_league_data{
    display: inline-flex;
    border: 2px outset #f2806d;
    margin-top: 30px;
    background-image: url("../images/greyed_trophy_bg.jpg");
    background-size: cover;
}

#league_data_details{
    display: inline-flex;
    flex-direction: column;
}

#league_data_details label:not(first-child){
    font-size: 12px;
    margin-left: 20px;
    font-weight: 400;
    text-shadow: 1px 1px 0px rgba(242, 128, 109, 0.5);
}

#league_data_details label:first-child{
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
}

#loading{
    display: none;
    position: fixed;
    margin: 0 auto;
    top:0;
    margin-top: 10%;
    padding-bottom: 1%;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 1;
    z-index: 2;
    text-align: center;
}

#rank_medal{
    width: 120px;
    height: 120px;
}

#profile_name_and_options{
    margin-left: 30px;
}

#profile_options button{
    background: #E86850;
}

#profile_options button:not(:first-child){
    margin-left: 10px;
}

#profile_options button:active{
    outline: none;
    border-color: #D1D1D1;
    color: white;
    background-color: #3d3d3d;
}


#profile_icon{
    border: 2px outset #f2806d;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

#landing_banner{
    background-image: url("../images/fiora_wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #595959;
}

#landing_info{
    display: inline-flex;
    flex-wrap: wrap;
    color: #E86850;
    background-color: #3d3d3d;
}

#item{
    width:100px;
    height:100px;
}

#logo{
    margin-top: 0.25%;
    width: 90px;
    height:44px;
    cursor: pointer;
}

#nav_bar{
    display: inline-flex;
}

#register{
    background: #E86850;
    text-align: center;
}

#register_front_page{
    margin-top: 20%;
    margin-bottom: 40%;
}

#header_nav {
    position: fixed;
    height: 50px;
    top:0;
    color: white;
    background: #E86850;
    border-bottom: 1px outset #f2806d;
    z-index: 10;
}

#header_nav > div > button {
    margin-top: 5px;
    width: 150px;
    font-size: 12px;
    margin-left: 0;
    border-radius: 0 0 0 0;
    border: 0;
}

#header_nav > ul{
    font-family: "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif",Dotum;
    margin-top: 12px;
    margin-left: 80px;
}

#header_nav > ul > li{
    font-size: 13px;
    display: inline-flex;
    flex-direction: row;
    margin-left: 15px;
    list-style: none;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

#footer_nav{
    position: fixed;
    /* THIS IS WHY THERES NO FOOTER*/
    height: 0px;
    bottom: 0;
    color: white;
    background: #E86850;
    border-top: 1px solid #f2806d;
}

body{
    margin-top: 0;
    background-color: #EAEAEA;

}

#main{
    width: 50vw;
    height: 40vw;
    margin-top: 2%;
    max-height: 100%;
    /*border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);*/
}

#home_img{
    max-width:100%;
    max-height:100%;
}

#frontpage_advert{
    margin-top: 20%;
}

#frontpage_quote{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-font-smoothing: antialiased;
}

#frontpage_underquote{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    font-size: 18px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-font-smoothing: antialiased;
}

#search_field,#last_game,#ranked_stats{
    text-align: center;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#last_game,#ranked_stats,#runes{
    border-radius: 0 0 0 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px;
}

#search_button, #ranked_stats,#runes{
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#search_button{
    transition: background-color 0.25s linear;
    color: white;
    width: 2.5%;
    border-top: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    background-color: #3d3d3d;
    background-image: url("../images/search_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
#search_field{
    transition: background-color 0.25s linear;
    background-color: #3d3d3d;
    color: white;
    margin-left: 0;
}

#search_field:focus + #search_button{
    transition: background-color 0.25s linear;
    background-color: white;
    color: black;
}

#search_field:focus{
    outline: none;
    border-color: #D1D1D1;
    transition: background-color 0.25s linear;
    background-color: white;
    color: black;
}

#search_button, #search_field{
    margin-top: 0.25%;
}

@media (min-width:550px) {
    #search_button{
        margin-left: 0;
        width: 2.5%;
        padding: 0;
    }

    #last_game,#runes{
        margin-left: 0;
        width:32.6666666667%;

    }
    #ranked_stats{
        margin-left: 0;
        width:34.6666666667%;
    }
}

@media (max-width:655px){
    #profile_options button:not(:first-child){
        margin-left: 0;
    }
}
/*
#summonerInfo{
    position: relative;
    top: 50px;
    left: 300px;
    width: 509px;
    height: 600px;
}
#summonerData{
    display: inline-flex;
    position: relative;
    width: 500px;
    background-color: black;
    border-style: ridge;
}
#summonerOptions{
    display: none;
    position: relative;
}
#profileIcon{

}
#summonerLevel{
    color: azure;
    position: relative;
    bottom: 10px;
    left: 20px;
    height: 32px;
}
#summonerName{
    color: azure;
    position: relative;
    top: 40px;
    right: 13px;
    height: 40px;
    
}

#teamOne{
    border-style: ridge;
    position: relative;
    /*display: inline-flex;*//*
    display: none;
    flex-direction: column;


}
#teamTwo{
    border-style: ridge;
    position: relative;
    /*display: inline-flex;*//*
    display: none;
    flex-direction: column;
    left: 257px;
}
*/